%% deps dirs
{deps_dir, ["deps"]}.

%% rel dirs
{sub_dirs, ["rel"]}.

%% compiler options
{erl_opts, [
  no_debug_info,
  fail_on_warning
]}.

%% deps
{deps, [
  {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.3"}}},
  {msgpack, ".*", {git, "https://github.com/msgpack/msgpack-erlang.git", "0.6.0"}},
  {seautils, ".*", {git, "https://github.com/SeaBattle/SeaUtils.git", {branch, "master"}}},
  {jsone, ".*", {git, "https://github.com/sile/jsone.git", {tag, "v0.3.3-hipe"}}},
  {protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", {tag, "0.8.3"}}},
  {syn, ".*", {git, "https://github.com/ostinelli/syn.git", {tag, "1.5.0"}}}
]}.

{overrides,
  [
    {override, jsone, [{erl_opts, [{d, 'ENABLE_HIPE'}, inline]}]}
  ]}.

{profiles, [
  {prod, [
    {erl_opts, [no_debug_info, warnings_as_errors, {native, o3}]},
    {relx, [{dev_mode, false}]}
  ]},
  {test, [
    {deps, [meck]},
    {erl_opts, [debug_info]}
  ]}
]}.

{relx,
  [
    {release, {"seaserver", "1.0.0"}, ["seaserver"]},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true}
  ]
}.