%% deps dirs
{deps_dir, ["deps"]}.

{require_otp_vsn, "R14B0[234]|R15|R16B02"}.

%% rel dirs
{sub_dirs, ["rel"]}.

%% compiler options
{erl_opts, [
	no_debug_info,
	fail_on_warning
]}.

%% deps
{deps, [
	{protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", {branch, "develop"}}},
	{riakc, ".*", {git, "https://github.com/basho/riak-erlang-client.git", {branch, "master"}}},
	{poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}}
]}.
