%% deps dirs
{deps_dir, ["deps"]}.

%% rel dirs
{sub_dirs, ["rel"]}.

%% compiler options
{erl_opts, [
  no_debug_info,
  fail_on_warning
]}.

%% deps
{deps, [
  {ranch, ".*", {git, "https://github.com/ninenines/ranch.git", {tag, "1.2.1"}}},
  {seaconfig, ".*", {git, "https://github.com/SeaBattle/SeaConfig.git", {tag, "master"}}},
  {seautils, ".*", {git, "https://github.com/SeaBattle/SeaUtils.git", {tag, "master"}}},
  {jsone, ".*", {git, "https://github.com/sile/jsone.git", {tag, "v0.3.3-hipe"}}},
  {protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", {tag, "0.8.3"}}}
]}.

{overrides,
  [
    {override, jsone, [{erl_opts, [{d, 'ENABLE_HIPE'}, inline]}]}
  ]}.